@media (min-width: 1200px) {
  .container {
    width: 1560px;
  }
}

#case-study .col-lg-12 {
  padding: 100px 0px 100px 0px;
}

#case-study .carousel {
  margin-top: -2px;
}

#case-study-list .col-lg-4 {
  padding: 0 7px;
}

.text-center {
  text-align: center;
}

h2 {
  color: #111;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.3;
  padding-bottom: 15px;
}

#case-study-list {
  padding: 0 0 60px 0;
}

#case-study-list .col {
  background-color: rgba(19, 19, 4, 0.04);
  padding: 15px;
  min-height: 578px;
  position: relative;
}

#case-study-list h2 {
  margin: 0;
}

#case-study-list img {
  max-width: 100%;
}
