.content .intro {
  width: 100vw;
  height: 100vh;
}

.content .intro .intro-content {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(83, 83, 83);
  /* font-family: "Staatliches", cursive; */
  font-family: "Roboto", sans-serif;
}

.content .intro .intro-content .text-intro h1 {
  font-size: 3.8rem;
  font-weight: 700;
}

.content .intro .intro-content .text-intro .show-h1 {
  margin: -15px 0;
  /* margin-left: 100px; */
  z-index: 3;
}

.content .intro .intro-content .text-intro .text-marquee {
  width: 30vw;
  margin-left: -5vw;
  /* color: rgb(10, 128, 207); */
  color: rgb(226, 67, 7);
  pointer-events: none;
}
